@model Product
@{
    ViewData["Title"] = Model.Name;
    string price = $"{Model.Price:c}";
}

<div class="rgb-animated rgb-animated-constant rgb-animated-large padded-in-padded">
    <h1 class="text-center">@Model.Name</h1>
    <p>@Model.LongDescription</p>
    <p>@price</p>
</div>