@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Warning</h1>
<h2 class="text-danger">It seems the page you were looking for is missing.</h2>

<p>
    All pages and beings from planets designated plural on the probability axis of the planeting naming convention are warned against hyperspace travel. This is due to hyperspace not abiding by the current probability and these pages and beings can cease to exist once the ship exits hyperspace. If the page you are looking for is such a page that may be where it went. If not then please try a different, more valid, page identification.
</p>
<p>
    It is also possible this page was blown up to make way for a hyper-page express through the sub-etha, for that news that just can't wait for your page to get out of it's way.
</p>
