/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.footer-dynamic {
    bottom: 60px;
    position: fixed;
    white-space: pre-line;
    width: 80%;
}

.half-of-screen {
    display: flex;
}

.half-of-screen div {
    flex: 50%;
}

.float-container {
    display: inline;
    float: left;
    padding: 10px 10px 10px 10px;
}

.curved-border {
    border: solid;
    border-width: thin;
    border-radius: 15px;
}

.curved-border:focus {
    outline: none;
    border-width: medium;
}

.curved-border::selection {
    outline: none;
    border-width: medium;
}


.text-indent {
    text-indent: 5px;
}

.form-right-aligned {
    position: relative;
    width: auto;
    text-align: right;
}

.form-left-aligned {
    width: auto;
    text-align: left;
}

.half-screen-right form {
    display: inline-block;
}

.left-padded {
    padding-left: 15%;
    margin: 0 auto auto auto;
}

.error-message {
    color: red;
    max-width: 300px;
    top: 0px;
}

.hidden-section {
    width: auto;
    border: solid;
    color: white;
    border-color: black;
    border-radius: 15px;
    border-width: thin;
}

.hidden-section:hover {
    color: black;
}

.active {
    color: black;
    text-decoration: double;
    font-size: larger;
    font-weight: bold;
}


.selection-group {
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    background-color: gray;
    color: white;
}

.padded-in {
    margin: 15px 15px 15px 15px;
}

.padded-in-padded {
    padding: 15px 15px 15px 15px;
}

.square-rounded-button {
    margin: 10px;
    color: white;
    width: 200px;
    height: 130px;
    border-style: solid;
    text-decoration: none;
    border-color: black;
    border-width: thin;
    background-color: gray;
    position: relative;
    vertical-align: central;
}

.square-rounded-button:hover {
    color: white;
}

.square-rounded-button:link, .square-rounded-button:visited {
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.square-rounded-button h3 {
    height: 100px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

.square-rounded-button p {
    height: 30px;
    vertical-align: central;
    text-align: center;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.rgb-animated {
    margin: 10px;
    color: white;
    border-style: solid;
    border-color: black;
    border-width: thin;
    background-color: gray;
    position: relative;
}

.rgb-animated:hover {
    color: white;
}

.rgb-animated-small:hover:before, .rgb-animated-small:hover:after {
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    z-index: -1;
    animation: steam 20s linear infinite;
}

.rgb-animated-constant:before, .rgb-animated-constant:after {
    content: '';
    position: absolute;
    left: -3px;
    top: -3px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    z-index: -1;
    animation: steam 20s linear infinite;
}

.rgb-animated-large:after {
    filter: blur(30px);
}

.rgb-animated-small:after {
    filter: blur(10px);
}


.list-inline {
    overflow: hidden;
    padding: 15px;
    border-style: solid;
    border-width: thin;
    margin-bottom: 10px;
    border-radius: 5px;
    vertical-align: central;
    align-content: center;

}

.list-inline:hover {
    box-shadow: #383333 5px 5px;
    border-width: medium;
    background-color: aqua;
    color: black;
}

.list-inline h3 {
    height: 100%;
    float: left;
    text-align: center;
    margin-right: 10px;
}

.list-inline p {
    height: 100%;
    float: left;
    margin-left: 10px;
    text-align: center;
    vertical-align: central;
}

.list-inline a {
    height: 100%;
    float: right;
    margin-left: 10px;
    text-decoration: none;
    text-align: center;
    color: black;
}

.solid-background {
    background-color: white;
}

.primary-color-hover:hover {
    background-color: black;
    color: white;
}

.secondary-color-hover:hover {
    background-color: darkgreen;
    color: white;
}

.warning-color-hover:hover {
    background-color: red;
    color: white;
}